<div class="headerContainer">
  <h2>
    Bem vindo
  </h2>
  <nb-actions size="medium">
    <nb-action *ngIf="usuario.Token !== null">
      <nb-user size="large" [name]="usuario.NameDisplay" [picture]="usuario.ImageDisplay">
      </nb-user>
    </nb-action>
    <nb-action (click)="logIn()" icon="fas fa-sign-in-alt" nbTooltip="Entrar" nbTooltipPlacement="bottom"
      nbTooltipStatus="primary" *ngIf="usuario.Token === null">
    </nb-action>
    <nb-action (click)="logOut()" icon="nb-power-circled" nbTooltip="Sair" nbTooltipPlacement="bottom"
      nbTooltipStatus="primary" *ngIf="usuario.Token !== null">
    </nb-action>
  </nb-actions>
</div>
