.listTodo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .listTitle {
    color: #fff;
    span {
      cursor: grab;
      font-size: 1vw;
    }
  }
}
.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.DragNDropList.cdk-drop-list-dragging .DragNDropBox:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
