<nb-layout>
  <nb-layout-header fixed>
    <app-header style="width:100%"></app-header>
  </nb-layout-header>
  <br>
  <nb-layout-column>
    <div class="Mostrar">
      <nb-card>
        <nb-card-header>
          Lista Principal
        </nb-card-header>
        <nb-card-body>
          <input type="text" [(ngModel)]="DataItem.titulo" nbInput fullWidth shape="semi-round" status="primary"
            placeholder="O que você precisa fazer?" (keyup.enter)="addItem()">
          <nb-list cdkDropList (cdkDropListDropped)="drop($event)" *ngIf="DataList !== []">
            <nb-list-item *ngFor="let item of DataList" class="listTodo" cdkDrag>
              <div class="listTitle">
                <nb-checkbox status="success" [(ngModel)]="item.concluido" (ngModelChange)="concluido($event, item)">
                </nb-checkbox>
                <span>
                  {{ item.titulo }}
                </span>
              </div>
              <i class="fas fa-2x fa-trash" (click)="deleteItem(item)"></i>
            </nb-list-item>
          </nb-list>
        </nb-card-body>
      </nb-card>
    </div>
    <!--     <div>
      <div *ngFor="let item of sliptTasks()">
        <app-task-lists [listName]="item.status"></app-task-lists>
      </div>
    </div> -->
  </nb-layout-column>
</nb-layout>
