<nb-card [status]="taskListType.cor">
  <nb-card-header>
    {{taskListType.nome}}
  </nb-card-header>
  <nb-card-body>
    <input type="text" [(ngModel)]="DataItem.titulo" nbInput fullWidth shape="semi-round" status="primary"
      placeholder="O que você precisa fazer?" (keyup.enter)="addItem()">

  </nb-card-body>
</nb-card>
